# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js build outputs
/.next/
/out/

# Production build artifacts
/build

# Static analysis cache
/.eslintcache
/.stylelintcache

# Temporary files and logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem

# Editor directories and files
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# Environment variables
.env
.env*.local
.env.*.local
!.env.example
!.env.development.local
!.env.production.local

# Turborepo cache (if using)
.turbo

# macOS file system artifacts
._*
